<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
</head>
<body>
    <form method="GET" action="/"><button>BACK TO HOME</button></form>
    <h2>Here are the users :</h2>
    <table border="2px">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <%for (user of users){%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form method="GET" action="/user/<%=user.id%>/edit">
                    <button>Edit username</button>
                    </form>
                </td>
                <td><form method="POST" action="/user/<%=user.id%>?_method=DELETE">
                        <input type="password" name="password" placeholder="Enter password">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>

